<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">

    <select id="BoardList"
            resultType="com.project.board.vo.BoardVo">
        SELECT BOARD_NUMBER,
        MENU_ID,
        USERID,
        TITLE,
        WRITER,
        BOARD_LOCAL,
        CONT,
        INDATE

        FROM BOARD

    </select>

</mapper>