<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">

    <select id="BoardPaging"
            resultType="com.project.board.vo.BoardVo">
        SELECT *
        FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY BOARD_NUMBER ASC) RNUM,
        C.*
        FROM CUSTOMER_BOARD C
        ORDER BY BOARD_NUMBER ASC)
        WHERE RNUM BETWEEN #{pageNum} AND #{contentNum}
    </select>

    <select id="BoardCount"
            resultType="int">
        SELECT COUNT(*)
        FROM CUSTOMER_BOARD
    </select>

    <select id="CustomerList"
            resultType="com.project.board.vo.BoardVo">
        SELECT *
        FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY BOARD_NUMBER DESC) RNUM,
        C.BOARD_NUMBER,
        C.TITLE,
        C.MENU_ID,
        C.WRITER,
        C.BOARD_LOCAL,
        C.CONT,
        TO_CHAR(C.INDATE + 9/24, 'yyyy-mm-dd hh24:mi:ss') AS INDATE,
        C.BOARD_CHECK
        FROM CUSTOMER_BOARD C
        ORDER BY BOARD_NUMBER DESC)
        WHERE RNUM BETWEEN #{pageNum} AND #{contentNum}
    </select>

    <select id="CSList"
            resultType="com.project.board.vo.BoardVo">
        SELECT *
        FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY BOARD_NUMBER DESC) RNUM,
        C.BOARD_NUMBER,
        C.TITLE,
        C.MENU_ID,
        C.WRITER,
        C.BOARD_LOCAL,
        C.CONT,
        TO_CHAR(C.INDATE + 9/24, 'yyyy-mm-dd hh24:mi:ss') AS INDATE,
        C.BOARD_CHECK

        FROM CUSTOMER_BOARD C
        WHERE ${searchType} LIKE '%${keyword}%'
        ORDER BY BOARD_NUMBER DESC)
        WHERE RNUM BETWEEN #{pageNum} AND #{contentNum}
    </select>

    <select id="RSList"
            resultType="com.project.board.vo.RiderBoardVo">
        SELECT *
        FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY BOARD_NUMBER DESC) RNUM,
        R.BOARD_NUMBER,
        R.TITLE,
        R.MENU_ID,
        R.WRITER,
        R.RIDER_LOCAL,
        R.CONT,
        TO_CHAR(R.INDATE + 9/24, 'yyyy-mm-dd hh24:mi:ss') AS INDATE,
        R.BOARD_CHECK

        FROM RIDER_BOARD R
        WHERE ${searchType} LIKE '%${keyword}%'
        ORDER BY BOARD_NUMBER DESC)
        WHERE RNUM BETWEEN #{pageNum} AND #{contentNum}
    </select>

    <select id="RVSList"
            resultType="com.project.board.vo.BoardVo">
        SELECT *
        FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY BOARD_NUMBER ASC) RNUM,
        R.BOARD_NUMBER,
        R.TITLE,
        R.MENU_ID,
        R.WRITER,
        R.BOARD_LOCAL,
        R.CONT,
        TO_CHAR(R.INDATE + 9/24, 'yyyy-mm-dd hh24:mi:ss') AS INDATE

        FROM REVIEW_BOARD R
        WHERE ${searchType} LIKE '%${keyword}%'
        ORDER BY BOARD_NUMBER ASC)
        WHERE RNUM BETWEEN #{pageNum} AND #{contentNum}
    </select>

    <select id="ReviewList"
            resultType="com.project.board.vo.BoardVo">
        SELECT *
        FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY BOARD_NUMBER DESC) RNUM,
        R.BOARD_NUMBER,
        R.TITLE,
        R.MENU_ID,
        R.WRITER,
        R.BOARD_LOCAL,
        R.CONT,
        TO_CHAR(R.INDATE + 9/24, 'yyyy-mm-dd hh24:mi:ss') AS INDATE
        FROM REVIEW_BOARD R
        ORDER BY R.BOARD_NUMBER DESC)
        WHERE RNUM BETWEEN #{pageNum} AND #{contentNum}
    </select>

    <select id="RiderList"
            resultType="com.project.board.vo.RiderBoardVo">
        SELECT *
        FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY BOARD_NUMBER DESC) RNUM,
        R.BOARD_NUMBER,
        R.TITLE,
        R.MENU_ID,
        R.WRITER,
        R.RIDER_LOCAL,
        R.CONT,
        TO_CHAR(R.INDATE + 9/24, 'yyyy-mm-dd hh24:mi:ss') AS INDATE,
        BOARD_CHECK
        FROM RIDER_BOARD R
        ORDER BY R.BOARD_NUMBER DESC)
        WHERE RNUM BETWEEN #{pageNum} AND #{contentNum}
    </select>

    <select id="CustomerCount"
            resultType="int">
        SELECT COUNT(*)
        FROM CUSTOMER_BOARD
    </select>

    <select id="CSCount"
            resultType="int">
        SELECT COUNT(*)
        FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY BOARD_NUMBER ASC) RNUM,
        C.BOARD_NUMBER,
        C.TITLE,
        C.MENU_ID,
        C.WRITER,
        C.BOARD_LOCAL,
        C.CONT,
        TO_CHAR(C.INDATE + 9/24, 'yyyy-mm-dd hh24:mi:ss') AS INDATE,
        C.BOARD_CHECK

        FROM CUSTOMER_BOARD C
        WHERE ${searchType} LIKE '%${keyword}%'
        ORDER BY BOARD_NUMBER ASC)
    </select>

    <select id="RVSCount"
            resultType="int">
        SELECT COUNT(*)
        FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY BOARD_NUMBER ASC) RNUM,
        C.BOARD_NUMBER,
        C.TITLE,
        C.MENU_ID,
        C.WRITER,
        C.BOARD_LOCAL,
        C.CONT,
        TO_CHAR(C.INDATE + 9/24, 'yyyy-mm-dd hh24:mi:ss') AS INDATE

        FROM REVIEW_BOARD C
        WHERE ${searchType} LIKE '%${keyword}%'
        ORDER BY BOARD_NUMBER ASC)
    </select>

    <select id="RSCount"
            resultType="int">
        SELECT COUNT(*)
        FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY BOARD_NUMBER ASC) RNUM,
        R.BOARD_NUMBER,
        R.TITLE,
        R.MENU_ID,
        R.WRITER,
        R.RIDER_LOCAL,
        R.CONT,
        TO_CHAR(R.INDATE + 9/24, 'yyyy-mm-dd hh24:mi:ss') AS INDATE,
        R.BOARD_CHECK

        FROM RIDER_BOARD R
        WHERE ${searchType} LIKE '%${keyword}%'
        ORDER BY BOARD_NUMBER ASC)
    </select>

    <select id="ReviewCount"
            resultType="int">
        SELECT COUNT(*)
        FROM REVIEW_BOARD
    </select>

    <select id="RiderCount"
            resultType="int">
        SELECT COUNT(*)
        FROM RIDER_BOARD
    </select>


    <insert id="C_InsertBoard" parameterType="com.project.board.vo.BoardVo">
        INSERT INTO CUSTOMER_BOARD (BOARD_NUMBER,MENU_ID,TITLE,WRITER,BOARD_LOCAL,CONT,C_START,C_END,MONEY,LUGGAGE,DELIVERY_INDATE)
        VALUES(BOARD_NUMBER.NEXTVAL,#{menu_id},#{title},#{writer},#{board_local},#{cont},#{c_start},#{c_end},#{money},#{luggage},#{delivery_indate})


    </insert>

    <insert id="R_InsertBoard" parameterType="com.project.board.vo.RiderBoardVo">
        INSERT INTO RIDER_BOARD (BOARD_NUMBER,MENU_ID,TITLE,WRITER,RIDER_LOCAL,CONT,R_START,R_END,MONEY,LUGGAGE,DELIVERY_INDATE)
        VALUES(RIDER_BOARD_NUMBER.NEXTVAL,#{menu_id},#{title},#{writer},#{rider_local},#{cont},#{r_start},#{r_end},#{money},#{luggage},#{delivery_indate})

    </insert>

    <insert id="RV_InsertBoard" parameterType="com.project.board.vo.ReviewVo">
        INSERT INTO REVIEW_BOARD (BOARD_NUMBER,MENU_ID,TITLE,WRITER,CONT)
        VALUES(REVIEW_BOARD_NUMBER.NEXTVAL,#{menu_id},#{title},#{writer},#{cont})

    </insert>

    <select id            = "DetailCustomerBoard"
            parameterType = "hashmap"
            resultType    = "com.project.board.vo.BoardVo">
        SELECT BOARD_NUMBER,
        TITLE,
        WRITER,
        BOARD_LOCAL,
        CONT,
        C_START,
        C_END,
        MONEY,
        LUGGAGE,
        DELIVERY_INDATE,
        TO_CHAR(INDATE + 9/24, 'yyyy-mm-dd hh24:mi:ss') AS INDATE,
        BOARD_CHECK


        FROM CUSTOMER_BOARD


        where board_number = #{board_number}
    </select>

    <select id            = "DetailRiderBoard"
            parameterType = "hashmap"
            resultType    = "com.project.board.vo.RiderBoardVo">
        SELECT BOARD_NUMBER,
        TITLE,
        WRITER,
        RIDER_LOCAL,
        CONT,
        R_START,
        R_END,
        MONEY,
        LUGGAGE,
        DELIVERY_INDATE,
        BOARD_CHECK,
        TO_CHAR(INDATE + 9/24, 'yyyy-mm-dd hh24:mi:ss') AS INDATE

        FROM RIDER_BOARD

        where board_number = #{board_number}
    </select>

    <select id            = "DetailReviewBoard"
            parameterType = "hashmap"
            resultType    = "com.project.board.vo.ReviewVo">
        SELECT BOARD_NUMBER,
        TITLE,
        WRITER,
        BOARD_LOCAL,
        CONT,
        TO_CHAR(INDATE + 9/24, 'yyyy-mm-dd hh24:mi:ss') AS INDATE

        FROM REVIEW_BOARD

        where board_number = #{board_number}
    </select>

    <update id="CBoardUpdate">
        UPDATE CUSTOMER_BOARD
        SET TITLE = #{title},
        CONT = #{cont},
        LUGGAGE = #{luggage},
        MONEY = #{money},
        C_START = #{c_start},
        C_END = #{c_end},
        DELIVERY_INDATE = #{delivery_indate}

        where BOARD_NUMBER = #{board_number}

    </update>

    <update id= "RBoardUpdate">
        UPDATE RIDER_BOARD
        SET TITLE = #{title},
        CONT = #{cont},
        LUGGAGE = #{luggage},
        MONEY = #{money},
        R_START = #{r_start},
        R_END = #{r_end},
        DELIVERY_INDATE = #{delivery_indate}

        where BOARD_NUMBER = #{board_number}

    </update>

    <update id="RVBoardUpdate">
        UPDATE REVIEW_BOARD
        SET TITLE = #{title},
        CONT = #{cont}

        where BOARD_NUMBER = #{board_number}

    </update>

    <delete id="CBoardDelete">
        DELETE
        FROM CUSTOMER_BOARD
        WHERE BOARD_NUMBER = #{board_number}


    </delete>

    <delete id="RBoardDelete">
        DELETE
        FROM RIDER_BOARD
        WHERE BOARD_NUMBER = #{board_number}
    </delete>

    <delete id="RVBoardDelete">
        DELETE
        FROM REVIEW_BOARD
        WHERE BOARD_NUMBER = #{board_number}
    </delete>


    <update id="Check">
        UPDATE CUSTOMER_BOARD
        SET BOARD_CHECK = #{board_check}
        WHERE BOARD_NUMBER = #{board_number}

    </update>

    <update id="RCheck">
        UPDATE RIDER_BOARD
        SET BOARD_CHECK = #{board_check}
        WHERE BOARD_NUMBER = #{board_number}

    </update>

    <select id="myWritePage"
            resultType="com.project.board.vo.BoardVo">
        SELECT *
        FROM CUSTOMER_BOARD
        WHERE WRITER = #{nickname}

    </select>

    <select id="myRWritePage"
            resultType="com.project.board.vo.RiderBoardVo">
        SELECT *
        FROM RIDER_BOARD
        WHERE WRITER = #{nickname}

    </select>

    <select id="myRVwritePage"
            resultType="com.project.board.vo.ReviewVo">
       SELECT *
       FROM REVIEW_BOARD
       WHERE WRITER = #{nickname}
    </select>

</mapper>